DJANGO_SECRET_KEY=replace-with-a-secure-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
TIME_ZONE=America/Bogota
APP_DEFAULT_CURRENCY=USD

STEAM_API_KEY=your-steam-api-key
STEAM_ID=your-steam-id
STEAM_INCLUDE_ACHIEVEMENTS_ON_SYNC=True

# Optional PostgreSQL config
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432
SQLITE_DB_NAME=db.sqlite3
